<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <security-constraint id="idAdmin">
        <display-name>Admin</display-name>
        <web-resource-collection>
            <web-resource-name>HtmlAuth</web-resource-name>
            <description>Only accessible to admins</description>
            <url-pattern>/admin/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Admins</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint id="idUsers">
        <display-name>Users</display-name>
        <web-resource-collection>
            <web-resource-name>wrUsers</web-resource-name>
            <description>For the nice Users we have!</description>
            <url-pattern>/user/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Users</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>First8 LDAP realm</realm-name>
    </login-config>
    <security-role>
        <description>The Administrators of the system</description>
        <role-name>Admins</role-name>
    </security-role>
    <security-role>
        <description>Grouping other users</description>
        <role-name>Users</role-name>
    </security-role>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <ejb-local-ref>
        <ejb-ref-name>ProduktFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.ProduktFacade</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>DostawaFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.DostawaFacade</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MagazynyFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.MagazynFacade</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomeProductFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.CustomeProductFacade</local>
    </ejb-local-ref>
</web-app>
